<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="database" connectionString="Server=.\SqlExpress; Database=methasoft.net.developer;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="querystring" value="select name, type, type_desc, definition from sys.objects o join sys.sql_modules m on m.object_id=o.object_id"/>

    <add key="viewsOutPath" value="D:\Documents\_sqlscripts\views"/>
    <add key="functionsOutPath" value="D:\Documents\_sqlscripts\functions"/>
    <add key="proceduresOutPath" value="D:\Documents\_sqlscripts\procs"/>
    <add key="triggersOutPath" value="D:\Documents\_sqlscripts\triggers"/>

    <add key="viewsHeader" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateViewHeader.txt"/>
    <add key="functionsHeader" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateFuncHeader.txt"/>
    <add key="proceduresHeader" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateProcHeader.txt"/>
    <add key="triggersHeader" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateTriggHeader.txt"/>

    <add key="viewsFooter" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateViewFooter.txt"/>
    <add key="functionsFooter" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateFuncFooter.txt"/>
    <add key="proceduresFooter" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateProcFooter.txt"/>
    <add key="triggersFooter" value="D:\Documents\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateTriggFooter.txt"/>
    
  </appSettings>
</configuration>