<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="database" connectionString="data source=localhost,3345;user id=**user**;password=**password**;initial catalog=methasoft_development;Connect Timeout=30;Encrypt=False"/>
  </connectionStrings>
  <appSettings>
    <add key="querystring" value="select name, type, type_desc, definition from sys.objects o join sys.sql_modules m on m.object_id=o.object_id"/>

    <add key="viewsOutPath" value="C:\_sqlscripts\views"/>
    <add key="functionsOutPath" value="C:\_sqlscripts\functions"/>
    <add key="proceduresOutPath" value="C:\_sqlscripts\procs"/>
    <add key="triggersOutPath" value="C:\_sqlscripts\triggers"/>

    <add key="viewsHeader" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateViewHeader.txt"/>
    <add key="functionsHeader" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateFuncHeader.txt"/>
    <add key="proceduresHeader" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateProcHeader.txt"/>
    <add key="triggersHeader" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateTriggHeader.txt"/>

    <add key="viewsFooter" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateViewFooter.txt"/>
    <add key="functionsFooter" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateFuncFooter.txt"/>
    <add key="proceduresFooter" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateProcFooter.txt"/>
    <add key="triggersFooter" value="C:\Users\sspearman\OneDrive - Netsmart Technologies, Inc\Documents\SpearSoft_CODE\SpearSoft.Utilities.SqlObjectsGenerator\_templates\templateTriggFooter.txt"/>
    
  </appSettings>
</configuration>
